*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}
h1,h2,h3,h4,h5,h6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#quote h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: normal;
}
p{
    font-size: 2.1875rem;
    font-weight: 400;
    line-height: normal;
}
#quote button{
    width: 15.625rem;
    height: 5rem;
    background-color: blue;
    color: white;
    cursor: default;
}
#quote button:hover{
    background-color: #008000;
}